{{>partial_header}}
using System.Collections;
using System.Collections.Generic;
using TactileModules.TactileCloud.Api.DTOs;
using TactileModules.TactileCloud.Api.Requests;
using TactileModules.TactileRequest;

namespace TactileModules.TactileCloud.Api
{

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public interface IRequestFactory {

    {{#operations}}{{#operation}}
        /// <summary>
        /// {{summary}}
        /// </summary>
        /// <remarks>
        /// {{notes}}
        /// </remarks>
        ICloudRequest<ICloudResponseGeneric<{{{returnType}}}>> Create{{operationId}}Request({{#allParams}}{{{dataType}}}{{/allParams}} requestBody, RequestPriority requestPriority); 
    {{/operation}}{{/operations}}

    }

    /// <summary>
    /// Represents a collection of functions to interact with the API endpoints
    /// </summary>
    public class RequestFactory {

        private readonly ICloudRequestRunner cloudRequestRunner;

        public RequestFactory(ICloudRequestRunner cloudRequestRunner) {
            this.cloudRequestRunner = cloudRequestRunner;
        }

    {{#operations}}{{#operation}}
        /// <summary>
        /// {{summary}}
        /// </summary>
        /// <remarks>
        /// {{notes}}
        /// </remarks>
        public ICloudRequest<ICloudResponseGeneric<{{{returnType}}}>> Create{{operationId}}Request({{#allParams}}{{{dataType}}}{{/allParams}} requestBody, RequestPriority requestPriority){
            return new {{operationId}}Request(cloudRequestRunner, requestBody, requestPriority);
        } 
    {{/operation}}{{/operations}}

    }

    {{#operations}}{{#operation}}
    public class {{operationId}}Request : CloudRequest<ICloudResponseGeneric<{{{returnType}}}>> {

        public {{operationId}}Request (ICloudRequestRunner cloudRequestRunner, {{#allParams}}{{{dataType}}}{{/allParams}} requestBody, RequestPriority requestPriority) : base(cloudRequestRunner, requestBody, requestPriority) { }

        protected override string Endpoint { get { return "{{{path}}}"; } }

        protected override AuthenticationMode AuthenticationMode { get { return "AuthenticationMode{{#authMethods}}{{keyParamName}}{{/authMethods}}"; } }

    }
    {{/operation}}{{/operations}}

}
