{{>partial_header}}
using System.Collections;
using System.Collections.Generic;
using TactileModules.TactileCloud.Api.DTOs;

{{#models}}
{{#model}}
namespace TactileModules.TactileCloud.Api
{
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>modelGeneric}}{{/isEnum}}
{{/model}}
{{/models}}
}
